/*applicable to all html elements*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/*style the 1st section*/
.header{
    min-height:  70vh;
    width:  100%;
    background-image: linear-gradient(rgba(17, 29, 75, 0.7),rgba(30, 44, 100, 0.7)),url(https://cdn.pixabay.com/photo/2019/08/06/17/03/comic-4388763__480.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*style the text*/
.text{
    width:  90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;


}

/*acess our h1*/
.text h1{
    font-size: 62px;

}

.text p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
/*button for redirect*/

.buttonFacts{
    display: inline-block;
    text-decoration: none;
    color : white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

/*hover*/

.buttonFacts:hover{
    border: 1px solid red;
    background: red;
    transition: 0.7s;

}

.factssection{
    min-height:  0vh;
    margin-top: 5%;
    
    background-position: center;
    background-size: cover;
}
 /*style button*/
 .butttn{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    transition-duration: 0.4s;
 }

 /*hovering at the button*/
.butttn:hover{
    background-color: red; /* Green */
    color: white;
}

/*style the card section*/

.mainsection{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  background: none;
  box-sizing: border-box;
  height: 30vh;
  flex-basis:  31%;
  border-radius: 10px;
  margin-bottom: 5%;
  
}
.content{
    width: 100%;
    color :blue;
    font-size: 26px;
    padding: 0 20px;
    font-weight: 900;
    opacity: 4.8;
    margin-bottom: 10;
}

/*Style to redirect to comment section*/
.buttonDirectToComments{
    display: inline-block;
    text-decoration: none;
    color : red;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.commentsection{
    min-height:  10vh;
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    background-position: center;
    background-size: cover;
}

.commentsection h3{
    text-align: left;
}

.commentarea{
    width: 100%;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    border : none;
    outline: none;
    background: #f0f0f0;
}

